<div id="footer">
  <div class="container">
    <div class="row">


      <div class="col-xs-12 col-sm-4">
        <h4 class="footer-titles text-center">Mr Fixit</h4>
        <ul>
          <li class="no-decoration-list"><a href="#">Qui sommes nous ?</a></li>
          <li class="no-decoration-list"><a href="#">Contactez-nous !</a></li>
          <li class="no-decoration-list"><a href="#">Partenaires</a></li>
          <li class="no-decoration-list"><a href="#">Presse</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4 class="footer-titles text-center">Help</h4>
        <ul>
          <li class="no-decoration-list"><a href="#">FAQ</a></li>
          <li class="no-decoration-list"><a href="#">Manuel</a></li>
          <li class="no-decoration-list"><a href="#">Crédits</a></li>
          <li class="no-decoration-list"><a href="#">Cécurité</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h4><i class="fa fa-quote-right footer-titles" aria-hidden="true"></i></h4>
        <p>Nous sommes équipes motivé qui souhaite rendre les travaux de rénovation abordables à tous</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 social-networks">
        <div class="text-center" >
          <ul class="list-inline">
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-youtube"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a class="social-icon" href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
          <p>Mr Fixit®, <%= Date.today.strftime('%Y') %> &copy;</p>
        </div>
      </div>
    </div>
  </div>
</div>
